#Lista de dependências para o projeto

pandas          #manipular dados (dataframe)
numpy           #cálculos
python-dotenv   #carregar variáveis de ambiente de um arquivo .env
torch           #modelos de ML
matplotlib      #gráficos
seaborn         #gráficos
scikit-learn    #modelos de ML
statsmodels     #análise estatística, VIF
jupyter         #rodar notebook
wandb           #rastrear, visualizar e gerenciar experimentos de ML
kagglehub       #uso de recursos do kaggle (datasets, modelos etc)